# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package.json
package-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.prettierignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/course-material/*
/exercises-part-1/Exercise-1.11/spring-example-project
/exercises-part-1/Exercise-1.12/example-frontend
/exercises-part-1/Exercise-1.13/example-backend
/exercises-part-1/Exercise-1.14/backend/example-backend
/exercises-part-1/Exercise-1.14/frontend/example-frontend
/exercises-part-1/Exercise-1.15/pacoder
/exercises-part-2/exercise-2.3/example-backend
/exercises-part-2/exercise-2.3/example-frontend
/exercises-part-2/exercise-2.5/scaling-exercise
/exercises-part-2/exercise-2.6/example-backend
/exercises-part-2/exercise-2.6/example-frontend
/exercises-part-2/exercise-2.7/frontend
/exercises-part-2/exercise-2.7/backend
/exercises-part-2/exercise-2.7/training
/exercises-part-2/exercise-2.8/example-backend
/exercises-part-2/exercise-2.8/example-frontend
/exercises-part-2/exercise-2.9/example-backend
/exercises-part-2/exercise-2.9/example-frontend
/exercises-part-2/exercise-2.9/database
/exercises-part-2/exercise-2.9/redis
/exercises-part-2/exercise-2.10/example-backend
/exercises-part-2/exercise-2.10/example-frontend
/exercises-part-2/exercise-2.10/database
/exercises-part-2/exercise-2.10/redis
/exercises-part-3/exercise-3.1/pacoder
